SPORTSDATA_API_KEY=replace_with_your_key
SPORTSDATA_SCHEDULE_BASE_URL=https://api.sportsdata.io/v4/soccer/scores/json/Schedule
SPORTSDATA_SCHEDULE_SEASON=2026
SCHEDULE_CACHE_TTL_MS=300000
SCHEDULE_FETCH_TIMEOUT_MS=8000
